Your objective is to build a [Bubble Plot](https://en.wikipedia.org/wiki/Bubble_chart) that showcases the relationship between four key variables:

* Average Fare ($) Per City
* Total Number of Rides Per City
* Total Number of Drivers Per City
* City Type (Urban, Suburban, Rural)

In addition, you will be expected to produce the following three pie charts:

* % of Total Fares by City Type
* % of Total Rides by City Type
* % of Total Drivers by City Type

* You must use proper labeling of your plots, including aspects like: Plot Titles, Axes Labels, Legend Labels, Wedge Percentages, and Wedge Labels.
* Remember when making your plots to consider aesthetics!
  * You must stick to the Pyber color scheme (Gold, Light Sky Blue, and Light Coral) in producing your plot and pie charts.
  * When making your Bubble Plot, experiment with effects like `alpha`, `edgecolor`, and `linewidths`.
  * When making your Pie Chart, experiment with effects like `shadow`, `startangle`, and `explosion`.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [42]:
#Raw data of city csv
filepath = os.path.join("raw_data/city_data.csv")
city_raw_df=pd.read_csv(filepath, low_memory="false")
city_raw_df.head()

             city  driver_count   type
0      Kelseyland            63  Urban
1      Nguyenbury             8  Urban
2    East Douglas            12  Urban
3   West Dawnfurt            34  Urban
4  Rodriguezburgh            52  Urban

In [43]:
#raw data of ride csv
filepath2 = os.path.join("raw_data/ride_data.csv")
ride_raw_df=pd.read_csv(filepath2, low_memory="false")
ride_raw_df.head()

          city                 date   fare        ride_id
0     Sarabury  2016-01-16 13:49:27  38.35  5403689035038
1    South Roy  2016-01-02 18:42:34  17.49  4036272335942
2  Wiseborough  2016-01-21 17:35:29  44.18  3645042422587
3  Spencertown  2016-07-31 14:53:22   6.87  2242596575892
4   Nguyenbury  2016-07-09 04:42:44   6.28  1543057793673

In [61]:
#x_axis = total number of rides per city
rides_per_city = ride_raw_df.groupby("city")[["date"]].count().head()
rides_per_city

              date
city
Alvarezhaven    31
Alyssaberg      26
Anitamouth       9
Antoniomouth    22
Aprilchester    19

In [53]:
#y_axis = average fare per city
fare_per_city = ride_raw_df.groupby("city")[["fare"]].mean().head()
fare_per_city

                   fare
city
Alvarezhaven  23.928710
Alyssaberg    20.609615
Anitamouth    37.315556
Antoniomouth  23.625000
Aprilchester  21.981579

In [52]:
# size of bubble = total number of drivers per city
size = city_raw_df[["city","driver_count"]].head()
size

             city  driver_count
0      Kelseyland            63
1      Nguyenbury             8
2    East Douglas            12
3   West Dawnfurt            34
4  Rodriguezburgh            52

In [51]:
#color of bubble = type of city
type_city = city_raw_df[["city","type"]].head()
type_city

             city   type
0      Kelseyland  Urban
1      Nguyenbury  Urban
2    East Douglas  Urban
3   West Dawnfurt  Urban
4  Rodriguezburgh  Urban

In [60]:
#X axis intervals

array([ 0,  5, 10, 15, 20, 25, 30, 35, 40])

In [3]:
#?plt.scatter

In [ ]:
.scatter(x, y, s=None, c=None, marker=None, cmap=None, norm=None, vmin=None, vmax=None, alpha=None, linewidths=None, verts=None, edgecolors=None, hold=None, data=None, **kwargs)

In [ ]:
#tick marks x axis
x_axis = np.arange(0,rides_per_city["date"].max() + 10,5)
x_axis

In [ ]:
# Place a legend on the chart in what matplotlib believes to be the "best" location
plt.legend(loc="best")

plt.title("Pyber Ride Sharing Data (2016)"")
plt.xlabel("Total Number of Rides (Per City)")
plt.ylabel("Average Fare ($)")

# Print our chart to the screen
plt.show()